<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/dist/styles.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/dist/scripts.js")"></script>
</head>
<body>

<header class="header">

        <div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
	        <div class="container position-relative">
		        <h2 class="page-heading mb-3">Resume</h2>
		        <a href="javascript:void(0)">Download PDF Version</a>
	        </div>
        </div>
        
    </header>

@RenderBody()
</body>
</html>
