@inject Resume.Config.ResumeConfig Config

<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>@Config.Personal.Name - Resume</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="@Url.Content("~/dist/styles.css")" rel="stylesheet" type="text/css"/>
	<script src="@Url.Content("~/dist/scripts.js")"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112478642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112478642-1');
    </script>
</head> 
<body>
@RenderBody()
</body>
</html> 